{% extends 'base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}
<main role="main">
    <div class="row" style="background-color:black;padding-top: 0px;">
        <div class="col-xs-12 col-sm-3">
            <div id="carouselExampleControls" class="col-xs-12 carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid nopadding" src="{{detail.thumbnail}}"  alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid nopadding" src="{{detail.thumbnail}}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid nopadding" src="{{detail.thumbnail}}" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-xs-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ youtubeMovieID }}" allowfullscreen></iframe> <!--left going to be editted {{ youtubeUrl }}  -->
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="container" style="margin-top:30px; margin-bottom:20px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="h1 beekaveTitle">{{detail.title}}</div>
                        <div class="h4" style="color:white;">{{detail.opendate|getDT}}</div>
                        <div class="panel panel-default" style="background-color:black; border-color:transparent;">
                            <div class="panel-score">
                                {% if detail.score %}
                                    {% if detail.score >= 70 %}
                                    <div class="beescore_w larger no_tbd movie positive">{{detail.score}}</div>
                                    {% elif detail.score >= 30 %}
                                    <div class="beescore_w larger no_tbd movie mixed">{{detail.score}}</div>
                                    {% else %}
                                    <div class="beescore_w larger no_tbd movie negative">{{detail.score}}</div>
                                    {%endif %}
                                {% else %}
                                    <h4 style="color:white">스코어가 없습니다.</h4>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-xs-12 col-md-12" style="margin-bottom:15px;">
                                <a class="rated_explain">총점&nbsp;</a>
                                {% for i in detail.score|iterInt %}
                                <i class="rated_star fa fa-star" aria-hidden="true"></i>
                                {% endfor %}
                                {% for i in detail.score|iterFloat %}
                                <i class="rated_star fa fa-star-half" aria-hidden="true"  ></i>
                                {% endfor %}

                                <i class="rated_explain bold" style="font-size:20px !important;">{{ detail.score }}</i>
                        </div>

                        {% for score_i in score_list %}
                        <br>
                        <div class="col-xs-12 col-sm-6" style="margin-bottom:10px;">
                                <a class="rated_explain">{{ score_i.1 }}&nbsp;</a>
                                {% if not score_i.0 %}
                                    <a class="rated_explain" style="font-size:15px !important;">평가점수가 없습니다.</a>
                                {% else %}
                                    {% for i in score_i.0|iterInt %}
                                    <i class="rated_star fa fa-star" aria-hidden="true"></i>
                                    {% endfor %}
                                    {% for i in score_i.0|iterFloat %}
                                    <i class="rated_star fa fa-star-half" aria-hidden="true"  ></i>
                                    {% endfor %}
                                    <i class="rated_explain bold" style="font-size:20px !important;">{{ score_i.0 }}</i>
                                {% endif %}
                        </div>
                        {% endfor %}
                        </div>
                        <br>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-12">
                            <h2 style="color:white;">{{ detail.genre }}</h2>
                            <h2 style="color:white;">{{ detail.nation }}</h2>
                            <h2 style="color:white;">{{ detail.director}} 감독</h2>
                            <br>
                            <h4 style="color:white;">
                                배우:
                                {% if peopleList %}
                                {% for people in peopleList %}
                                <a style="color:white;" href="/people_{{ people.peopleCd }}">&nbsp;{{people.peopleNm}},</a>
                                {% endfor %}
                                {% endif %}
                            </h4>


                        </div>
                        <br><br>
                        <div class="col-xs-12">
                            <div class="panel panel-default" style="background-color:black; border-color:transparent;">
                                <div class="panel-body">
                                    <div class="form-group d-none d-md-block">
                                        <textarea id="reviewText" class="form-control" name="message" placeholder="평가를 남겨주세요" rows="3" style="margin-bottom:5px;"></textarea>
                                        <input id="input-1" name="input-1" value="0" class="rating rating-loading" data-min="0" data-max="100" data-step="10" data-size="md">
                                        {% if user.is_active %}
                                        <input id="postReview" class="btn btn-outline-warning btn-lg pull-right" type="submit" value="리뷰남기기"/>
                                        {% else %}
                                        <a class="btn btn-outline-warning btn-lg pull-right" href="{% url 'login' %}?next={{request.path}}" style="color:warning;">로그인하고 리뷰남기기</a>
                                        {% endif %}
                                    </div>
                                    <div class="form-group d-block d-sm-none">
                                        <textarea id="reviewTextXS" class="form-control" onkeydown="resize(this)" onkeyup="resize(this)" name="message" placeholder="평가를 남겨주세요" rows="1" style="margin-bottom:10px;"></textarea>
                                        <input id="input-1XS" name="input-1" value="0" class="rating rating-loading" data-min="0" data-max="100" data-step="10" data-size="xs">
                                        {% if user.is_active %}
                                        <input id="postReviewXS" class="btn btn-outline-warning pull-right" type="submit"  value="리뷰남기기"/>
                                        {% else %}
                                        <a class="btn btn-outline-warning pull-right" href="{% url 'login' %}" style="color:warning;">로그인하고 리뷰남기기</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-sm-1 col-xs-12"></div>
        <div class="col-sm-10 col-xs-12">
            <iframe width=100% height=100% src="{{ request.get_full_path }}date/p1" frameborder='0' scrolling='no'  style="display:block; width:100%; height: 100%;" onload="resizeIframe(this)"></iframe>
            <script>function resizeIframe(obj) {obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';}</script>
        </div>
        <div class="col-sm-1 col-xs-12"></div>
    </div>

    <br>

    <script>
$('html, body').animate({
    scrollTop: ($('.beekaveTitle').offset().top-300)
},500);


function resize(obj)
{obj.style.height = "1px";obj.style.height = (12+obj.scrollHeight)+"px";}
$("#postReview").click(function(){
  var reviewText = $("#reviewText").val();
  var reviewScore = $("#input-1").val();
  if (reviewText.length > 10){
    $.ajax({
      type: "POST", // 데이터를 전송하는 방법을 지정
      url: "{%  url 'postReview' %}", // 통신할 url을 지정
      data: {"reviewText": reviewText, "reviewScore":reviewScore,"redirectUrl":"{{ request.get_full_path }}",'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터 전송시 옵션
      dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
      // 서버측에서 전송한 Response 데이터 형식 (json)
      // {'likes_count': post.like_count, 'message': message }
      success: function(response){
        $(location).attr('href', response.url)
      },
    });
  }else{
    alert("10자 이상 리뷰를 남겨주세요.");
  }

})

$("#postReviewXS").click(function(){
  var reviewText = $("#reviewTextXS").val();
  var reviewScore = $("#input-1XS").val();
  if (reviewText.length > 10){
    $.ajax({ //
      type: "POST", // 데이터를 전송하는 방법을 지정
      url: "{%  url 'postReview' %}", // 통신할 url을 지정
      data: {"reviewText": reviewText, "reviewScore":reviewScore,"redirectUrl":"{{ request.get_full_path }}",'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터 전송시 옵션
      dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
      // 서버측에서 전송한 Response 데이터 형식 (json)
      // {'likes_count': post.like_count, 'message': message }
      success: function(response){
        $(location).attr('href', response.url)
      },
    });
  }else{
    alert("10자 이상 리뷰를 남겨주세요.");
  }
})
$(function(){
  $('.normal').autosize();
  $('.animated').autosize({append: "\n"});
});



</script>
</main>
{% endblock %}
