{% extends 'base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}
<main role="main" style="background-color:#f4f4f4 !important;">

    <div class="container">
        <br><br><br>
        <div class="row">
            <h1>&nbsp;최신영화 TOP4</h1>
        </div>
        <hr>
        <div class="row row-margin-bottom">
            {% for movie in scoreallTop10 %}
            <div class="col-sm-5 lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <a href="/{{movie.moviecode}}">
                                <img class="lib-img" src="{{ movie.thumbnail }}">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                <a class="bold" href="/{{movie.moviecode}}" style="color:black;">{{ movie.title }}</a>
                                <hr>
                            </div>
                            <div class="lib-row lib-desc">
                                <div align="right" style="margin-bottom:5px; color:black;">
                                {% if not movie.scorefactor %}
                                    <a class="rated_explain" style="font-size:15px !important;">평가점수가 없습니다.</a>
                                {% else %}
                                    {% for i in movie.scorefactor|iterInt %}
                                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                    {% endfor %}
                                    {% for i in movie.scorefactor|iterFloat %}
                                    <i class="fa fa-star-half fa-lg" aria-hidden="true"  ></i>
                                    {% endfor %}
                                    <i class="bold" style="font-size:20px !important;">{{ movie.scorefactor }}</i>
                                {% endif %}
                                </div>
                                <p class="lib-content" align="right">{{ movie.opendate }}</p>
                                <p class="lib-content" align="right">{{movie.genre}}</p>
                                <p class="lib-content" align="right">{{movie.audit}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            {% endfor %}
        </div>
    </div>
    <br><br><br>

    <div class="container" align="center">
        <h2 align="left">TOP10 랭킹</h2>
        <hr>
        <div class="row">
            {%if top10_movie_mat %}
            {% for top10_movie_list in top10_movie_mat %}
            <div class="col-md-4 minPadding">
                <table class="releases table">
                    <thead>
                    <tr>
                        <th colspan="3">
                            <a class="oswald upper" href="/mvlist_recent_{{ top10_movie_list.0|getScoreType }}" style="color:white;">{{ top10_movie_list.0 }}</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in top10_movie_list.1 %}
                    {% if forloop.counter == 1 %}
                    <tr class="first">
                        <td class="img_col">
                            <div class="img_wrap">
                                <a href="/{{movie.moviecode}}">
                                    <img class="product_image small_image" src="{{movie.thumbnail}}" alt="{{movie.title}}" style="width:53px; height:68px;" />
                                </a>
                            </div>
                        </td>
                        <td class="title_col" >
                            <a class="title" href="/{{movie.moviecode}}" style="color:black;">
                                {{movie.title}}
                            </a>
                            <div>
                <span class="sub_title">
                  {{movie.audit}} <span class="link_divider">|</span> {{ movie.genre }}
                </span>
                            </div>
                        </td>

                        <td class="score_col">
                            <a class="beescore_anchor" href="/{{movie.moviecode}}">
                                {% if movie.scorefactor > 6 %}
                                <span class="beescore_w medium movie positive">{{movie.scorefactor}}</span>
                                {% elif movie.scorefactor > 4 %}
                                <span class="beescore_w medium movie mixed">{{movie.scorefactor}}</span>
                                {% else %}
                                <span class="beescore_w medium movie negative">{{movie.scorefactor}}</span>
                                {% endif %}
                            </a>
                        </td>
                    </tr>

                    {% else %}
                    <tr >
                        <td class="title_col" colspan="2">
                            <a class="title" href="/{{movie.moviecode}}"  style="color:black;">
                                {{movie.title}}
                            </a>
                            <div>
                <span class="sub_title">
                  {{movie.audit}} <span class="link_divider">|</span> {{ movie.genre }}
                </span>
                            </div>
                        </td>
                        <td class="score_col">
                            <a class="beescore_anchor" href="/{{movie.moviecode}}">
                                {% if movie.scorefactor > 6 %}
                                <span class="beescore_w small movie positive">{{movie.scorefactor}}</span>
                                {% elif movie.scorefactor > 4 %}
                                <span class="beescore_w small movie mixed">{{movie.scorefactor}}</span>
                                {% else %}
                                <span class="beescore_w small movie negative">{{movie.scorefactor}}</span>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <a href="/mvlist_recent_{{ top10_movie_list.0|getScoreType }}">All new Movies &raquo;</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
<br><br>
{% endblock %}
