{% extends 'base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}
{% load widget_tweaks %}
<main role="main" style="background-color:#f4f4f4 !important;">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumboBgImg" style="color:white;background-color:#212529!important;">
        <h3 align="center">{{ filterMessage }}</h3>
        <br>
        <div class="container">
            <form method="get">
                <div class="well">
                    <div class="row">
                        <div class="form-group col-sm-3 col-md-3">
                            <a>&nbsp;연도</a>
                            {% render_field form.openyear class="form-control" %}
                        </div>
                        <div class="form-group col-sm-3 col-md-3">
                            <a>&nbsp;장르</a>
                            {% render_field form.genre class="form-control" %}
                        </div>
                        <div class="form-group col-sm-3 col-md-3">
                            <a>&nbsp;스코어</a>
                            <select name="score" class="form-control" id="id_score">
                                <option value="-score">총점 높은순</option>
                                <option value="-scoreact">연기점수 높은순</option>
                                <option value="-scorestory">스토리점수 높은순</option>
                                <option value="-scoredirector">감독점수 높은순</option>
                                <option value="-scoreost">OST점수 높은순</option>
                                <option value="-scorevisual">영상미점수 높은순</option>
                                <option value="-scorefresh">신선도점수 높은순</option>
                                <option value="score">총점 낮은순</option>
                                <option value="scoreact">연기점수 낮은순</option>
                                <option value="scorestory">스토리점수 낮은순</option>
                                <option value="scoredirector">감독점수 낮은순</option>
                                <option value="scoreost">OST점수 낮은순</option>
                                <option value="scorevisual">영상미점수 낮은순</option>
                                <option value="scorefresh">신선도점수 낮은순</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3 col-md-3">
                            <a>&nbsp;제목 검색</a>
                            {% render_field form.title class="form-control" placeholder="영화제목 검색" %}
                        </div>
                        <div class="col-sm-12 col-md-12" align="right">
                            <button type="submit" class="btn btn-outline-warning my-2 my-sm-0">
                                <span class="fa fa-search" aria-hidden="true"></span> Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="infinite-container">
            <div class="infinite-item">
                <div class="row justify-content-md-center">
                    {% for movie in movies %}
                    <div class="col-sm-5" data-category="ui" style="margin:30px;">
                        <div class="lib-panel">
                            <div class="row box-shadow">
                                <div class="col-xs-6 col-md-6">
                                    <a href="/{{movie.moviecode}}">
                                        <img class="lib-img" src="{{ movie.thumbnail }}">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="lib-row lib-header" align="right">
                                        <a class="bold" href="/{{movie.moviecode}}" style="color:black;">{{ movie.title }}</a>
                                        <hr>
                                    </div>
                                    <div class="lib-row lib-desc">

                                        <div align="right" style="margin-bottom:3px; color:black;">
                                            <p class="bold" style="font-size:20px !important; margin-bottom:0px;">{{ scoreHan }}</p>
                                            {% if not movie.scorefactor %}
                                            <a class="bold" style="font-size:11px !important;">평가점수가 없습니다.</a>
                                            {% else %}
                                            {% for i in movie.scorefactor|iterInt %}
                                            <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                            {% endfor %}
                                            {% for i in movie.scorefactor|iterFloat %}
                                            <i class="fa fa-star-half fa-lg" aria-hidden="true"  ></i>
                                            {% endfor %}
                                            <i class="bold" style="font-size:15px !important;">{{ movie.scorefactor }}</i>
                                            {% endif %}
                                            <br>
                                            <a href="/{{ movie.moviecode }}" style="font-size:10px;">점수더보기</a>
                                        </div>

                                        <hr>
                                        <p class="lib-content" align="right">{{ movie.opendate|getDT }}</p>
                                        <p class="lib-content" align="right">{{movie.genre}}</p>
                                        <p class="lib-content" align="right">{{movie.audit}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>






        <div class="col-md-12">
            {% if movies.has_next %}
            <a class="infinite-more-link" href="{{ request.get_full_path|andorquestion }}page={{ movies.next_page_number }}">More</a>
            {% endif %}
        </div>
    </div>
</main>
<script>
    $("#id_score").val( '{{ selected }}' );
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
 </script>
{% endblock %}
