{% extends 'base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ range }}</h1>
        </div>
    </div>


    <div class="container" align="center">
        <p>{{ scoretype }}</p>
        <div class="row">
            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>
        <ul>
            {% for movie in filter.qs %}
            <li>{{ movie.title }} - {{ movie.opendate }}</li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}
