{% extends 'base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome</h1>
        </div>
    </div>

    <div class="container" align="center">
        <div class="row">
            <div class="col-md-5 col-centered">
                <h2 style="text-align: center;">회원가입을 축하드립니다.</h2>
            </div>
        </div>
    </div>
</main>
<br>
<br>
{% endblock %}
