{% extends 'base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumboBgImg">
        <div class="container">
            <br>
            <h1 class="display-3" style="color:white;">{{ title }}</h1>
            <br><br>
        </div>
    </div>

    <div class="container" align="center">
        <div class="row">
            <div class="col-md-4 col-xs-8 col-centered" id="content">
                <h4>패스워드가 변경되었습니다.</h4>

            </div>
        </div>
    </div>
</main>
<br>
<br>

{% endblock %}
