{% extends 'base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumboBgImg">
        <div class="container">
            <br>
            <h1 class="display-3" style="color:white">{{ title }}</h1>
            <br><br>
        </div>
    </div>

    <div class="container" align="center">
        <div class="row">
            <div class="col-md-4 col-xs-8 col-centered" id="content">
                <form action="." method="post">{% csrf_token %}
                    <h4>비밀번호를 변경합니다</h4>
                    {% if form.errors %}
                    <br>

                    <p class="errornote" style="border-radius:4px">정확한 정보를 기입해 주세요</p>
                    {% endif %}

                    <fieldset class="aligned" style="border-radius:8px">

                        <div class="form-row">
                            <input class="form-control" placeholder="기존 비밀번호" type="password" name="old_password" id="id_old_password" autofocus required />
                            {% if form.old_password.errors %}
                            <p style="font-size:12px; font-weight:bold; color:#c30;"><br>비밀번호가 맞지 않습니다.</p>
                            {% endif %}
                        </div>

                        <div class="form-row">
                            <input class="form-control" placeholder="새로운 비밀번호" type="password" name="new_password1" id="id_new_password1" autofocus required />
                            {% if form.new_password1.errors %}
                            <br>
                            <p style="font-size:12px; font-weight:bold; color:#c30;"><br>{{ form.new_password1.errors|striptags }}</p>
                            {% endif %}
                        </div>

                        <div class="form-row">
                            <input class="form-control" placeholder="새로운 비밀번호 확인" type="password" name="new_password2" id="id_new_password2" autofocus required />
                            {% if form.new_password2.errors %}
                            <br>
                            <p style="font-size:12px; font-weight:bold; color:#c30;"> <br>
                                {% if form.new_password2.errors|striptags == "The password is too similar to the username." %}
                                ID와 비슷한 비밀번호는 사용하실 수 없습니다.
                                {% else %}
                                새로운 비밀번호가 맞지 않습니다.
                                {% endif %}
                                </p>
                            {% endif %}
                        </div>

                    </fieldset>

                    <div style="margin-top:20px; margin-bottom:20px;" >
                        <input class="btn btn-primary btn-lg btn-block" type="submit" style="margin-top: 5px;" value="비밀번호변경">
                    </div>
                    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                </form>

            </div>
        </div>
    </div>
</main>
<br>
<br>

{% endblock %}
