.top_releases {
	width:100%;
	overflow:hidden
}
.top_releases_left {
	width:50%
}
.top_releases_mid {
	width:33%
}
.top_releases_right {
	width:50%
}
table.releases {
	width:100%;
	background:white;
	margin-bottom:20px
}
.top_releases_mid th {
	border-right:1px solid #fff
}
.top_releases_mid td.score_col {
	border-right:1px solid #d9d8c6
}
.top_releases_mid td.divider {
	border-right:1px solid #d9d8c6
}
.top_releases_left th {
	border-right:1px solid #fff
}
.top_releases_left td.score_col {
	border-right:1px solid #d9d8c6
}
.top_releases_left td.divider {
	border-right:1px solid #d9d8c6
}
.releases th {
	background-color:#2e2e2e;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	line-height:19px;
	padding:7px 0 4px 12px
}
.releases th {
	color:#fff
}
.releases .img_col {
	padding:6px 0 0 12px
}
.releases .first .img_col {
	padding-top:12px
}
.releases .title_col {
	padding:6px 0 6px 12px;
	vertical-align:top;
	width:99%
}
.releases .first .title_col {
	padding-top:12px
}
.releases .score_col {
	width:35px;
	padding:6px 10px 6px 2px;
	vertical-align:middle;
	text-align:right
}
.releases .first .score_col {
	vertical-align:top;
	padding-top:12px
}
.releases .img_wrap {
	height:86px
}
.releases .title {
	line-height:17px
}
.releases .first .title {
	font-size:14px
}
.releases .sub_title {
	font-size:11px;
	font-weight:normal;
	color:#999
}
.releases a.sub_title {
	color:#999
}
.releases .beescore_text {
	font-size:11px
}
.releases .beescore_critic_count {
	font-size:11px
}
.releases .divider {
	padding:0 10px 0 10px
}
.releases .divider div {
	width:100%;
	height:1px;
	border-bottom:1px solid #e6e4d7
}
.releases tfoot td {
	font-size:11px;
	padding:8px 0 10px 12px;
	border-right:1px solid #d9d8c6
}
.top_releases li.top_product {
	height:90px;
	padding:6px 0
}
.top_releases .top_product_wrap {
	margin:0 6px;
	padding-top:6px;
	padding-right:38px
}
.top_releases .top_product .product_title {
	font-size:14px
}
.top_releases .top_product .std_score {
	right:-38px
}
.oswald {
font-family:Oswald,proxima_nova,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
letter-spacing:.03rem;
}
.upper {
	text-transform:uppercase
}

a *,button {
cursor:pointer;
}
.oswald {
	font-family:'Oswald',"proxima_nova","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing:.03rem
}
.oswald.bold {
	font-weight:500
}
.score_title_table .score_col {
	vertical-align:top;
	padding-right:6px
}
.beescore_w {
	vertical-align:middle;
	text-align:center;
	color:#fff!important;
	font-family:Arial,Helvetica,sans-serif;
	font-style:normal!important;
	font-weight:bold!important;
	background-color:transparent;
	height:2.5em;
	width:2.5em;
	line-height:2.5em;
	font-size:20px;
    border-radius: 1.25em;
}

.beescore_anchor,a.beescore_w {
	color:#fff!important;
	text-decoration:none!important
}
.beescore_anchor:hover {
	text-decoration:none!important
}
.beescore_w:hover {
	text-decoration:none!important
}
span.beescore_w,a.beescore_w {
	display:inline-block
}
.beescore_w.xlarge,.beescore_w.xl {
	font-size:42px
}
.beescore_w.larger {
	font-size:35px
}
.beescore_w.large,.beescore_w.lrg {
	font-size:25px
}
.beescore_w.header_size {
	font-size:23px
}
.m .beescore_w.medium,.m .beescore_w.med {
	font-size:19px
}
.beescore_w.med_small {
	font-size:14px
}
.beescore_w.small,.beescore_w.sm {
	font-size:15px
}
.beescore_w.tiny {
	height:1.9em;
	font-size:11px;
	line-height:1.9em
}
.beescore_w.user {
	border-radius:55%;
	color:#fff;
	height:2.1em;
	width:2.1em;
	line-height:2.18em
}
.beescore_w.user.small,.beescore_w.user.sm {
	font-size:11px
}
.beescore_w.tbd,.beescore_w.score_tbd {
	color:#FFF!important;
	background-color:#ccc;
	text-transform:lowercase
}
.beescore_w.tbd.hide_tbd,.beescore_w.score_tbd.hide_tbd {
	visibility:hidden
}
.beescore_w.tbd.no_tbd,.beescore_w.score_tbd.no_tbd {
	display:none
}
.beescore_w.noscore::before,.beescore_w.score_noscore::before {
	content:'\2022\2022\2022'
}
.beescore_w.noscore,.beescore_w.score_noscore {
	color:#fff!important;
	background-color:#ccc
}
.beescore_w.rip,.beescore_w.score_rip {
	border-radius:4px;
	color:#fff!important;
	background-color:#999;
	background-image:url(/images/scores/clock-o_white.png);
	background-size:88% 87%;
	background-position:center;
	background-repeat:no-repeat;
	background-fill:#fff
}
.beescore_w.negative,.beescore_w.bad,.beescore_w.score_terrible,.beescore_w.score_unfavorable {
	background-color:#f00
}
.beescore_w.mixed,.beescore_w.forty,.beescore_w.game.fifty,.beescore_w.score_mixed {
	background-color:#fc3;
}
.beescore_w.positive,.beescore_w.good,.beescore_w.sixtyone,.beescore_w.game.seventyfive,.beescore_w.score_favorable,.beescore_w.score_outstanding {
	background-color:#6c3
}
.beescore_w.indiv {
	height:1.9em;
	width:1.9em;
	font-size:15px;
	line-height:1.9em
}
.beescore_w.indiv.larger {
	font-size:34px
}
.beescore_w.indiv.large,.beescore_w.indiv.lrg {
	font-size:24px
}
.m .beescore_w.indiv.medium,.m .beescore_w.indiv.med {
	font-size:16px
}
.beescore_w.indiv.med_small {
	font-size:13px
}
.beescore_w.indiv.small,.beescore_w.indiv.sm {
	font-size:11px
}
.beescore_w.indiv.perfect {
	padding-right:1px
}
.beescore_w.series {
	background-color:transparent;
	color:#ccc!important;
	border:1px solid #6c3
}
.beescore_w.series.negative,.beescore_w.series.score_terrible,.beescore_w.series.score_unfavorable {
	color:#f00!important;
	border-color:#f00
}
.beescore_w.series.mixed,.beescore_w.series.forty,.beescore_w.series.game.fifty,.beescore_w.series.score_mixed {
	color:#fc3!important;
	border-color:#fc3
}
.beescore_w.series.positive,.beescore_w.series.sixtyone,.beescore_w.series.game.seventyfive,.beescore_w.series.score_favorable,.beescore_w.series.score_outstanding {
	color:#6c3!important;
	border-color:#6c3
}
.content {
    min-height: calc(100vh - 140px);
}

.nopadding {
  padding:0 !important;
  margin: 0 !important;
}
.minPadding {
  padding:3px !important;
  margin: 0 !important;
}

.accessImg {
  max-height: 35px;
  width:auto;
}
.panel-score {
  padding: 15px;
  padding-left: 0px;
}


/* review css */
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA !important;
	border:1px solid #EFEFEF !important;
	padding:15px 15px 20px 15px;
	border-radius:3px !important;
    margin-bottom:15px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-userInfo{
  color: 	#A9A9A9;
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-description{
	font-size:13px;
}

.half {
    position:relative;
}
.font{
	font-size:6em;
}
.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}
.star-color{
  color: #cc0000;
}

.badge-notify-recom{
   background:#f2f2f2;
   position:relative;
   color: #e60000;
}
.badge-notify-nonrecom{
   background:#f2f2f2;
   position:relative;
   color: #003399;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 15px;
}

.bold_redBorder{
  border-color: red;
  font-weight:700;
}

.like {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #e7e7e7; /* Green */
  border: none;
  color: #f44336;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.dislike {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #e7e7e7; /* Green */
  border: none;
  color: #0033cc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.review_score_badge {
  display: inline-block;
  min-width: 12px;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}



/* loginin modal */

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

#text-login-msg{
  color: #000000 !important;
}

.errornote {
    display: block;
    margin: 5px 0;
    border: 1px solid #c30;
    background: #0000;
    padding: 5px 25px;
    color: #c30;
    font-size: 12px;
    font-weight: bold;
}

/* Authentication Forms */

fieldset {
    border: 1px solid #ccc;
}

.aligned label {
    float: left;
    width: 170px;
    padding: 3px 10px 0 0;
}

.form-row {
    padding: 10px;
    font-size: 11px;
    border-bottom: 1px solid #eee;
}

.submit-row {
    margin: 5px 0;
    border: 1px solid #ccc;
    text-align: right;
}

.submit-row input {
    margin: 10px;
    background: #0000;
    color: #0000;
}



#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {
    padding-bottom: 10px;
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
    background-color: transparent;
}


#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.landscape {
    height: 500px;
    width: 100%;
}


@media (max-width:500px) {

  /* your conditional / responsive CSS inside this condition */

  .landscape {
    height: 100%;
    width: 100%;
}

}

.rated_star{
   font-size:20px !important;
   color:#fde16d !important;
}

.rated_explain{
    font-size:20px !important;
    color:white !important;
}

.beekaveTitle{
   color:white !important;
}
.bottom_footer {
    position:absolute;
    bottom: 0;
    height:140px;
    width:100%;
	font-size:16px;
	padding-top:10px;
	color:#b9b9b9 !important;
	line-height:1.1em;
	text-align:center;
	background-color:#424242
}
.bottom_footer a {
	font-weight:normal;
	color:#b9b9b9 !important;
}
.pad_top1 {
	padding-top:.8rem
}
.pad_top2 {
	padding-top:1.6rem
}
.pad_btm1 {
	padding-bottom:.8rem
}
.pad_btm2 {
	padding-bottom:1.6rem
}
.social_round i {
	display:inline-block;
	background-color:#fdd030;
	color:#000;
	width:30px;
	height:30px;
	border-radius:15px;
	line-height:30px;
	text-align:center;
	vertical-align:middle
}
.social_round .fa-facebook {
	margin-right:.5em;
	font-size:18px;
	line-height:32px;
	padding-right:2px;
	font-weight:bold
}
.social_round .fa-twitter {
	font-size:17px
}
.bottom_footer .social_round i {
	background-color:#5d5d5d;
	color:#424242
}
.bottom_footer .social_links a {
	font-size:.7em;
	font-weight:bold;
	color:#FFF
}
.bottom_footer .site_links a span {
	margin:0 .5em;
	font-weight:bold;
	font-size:.8em
}
.bottom_footer .about_cbs {
	font-size:.7em
}
.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-userInfo{
    color: #A9A9A9;
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-description{
	font-size:13px;
}
p.review-block-description {
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
    word-wrap:break-word !important;
}
.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}

.lib-content{
    font-size:15px;
    margin-bottom:3px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}
.jumboBgImg{
    background-image: url("./images/jumboImg.png");
    border-radius:0px !important;
}
